{
    "tabWidth": 4,
    "bracketSpacing": true,
    "singleQuote": false,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": false,
    "useTabs": false,
    "trailingComma": "es5",
    "arrowParens": "always"
}